*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	
}


main{
	width: 98%;
	height:100%;
	margin:10px auto;
	display: grid;
	grid-template-rows:minmax(150px,auto) minmax(500px,auto) 200px;
	grid-template-columns: repeat(3,1fr);
	grid-template-areas: 
		"hd nv nv"
		"ct ct ct"
		"ft ft ft";
	grid-gap: 0px;
	
}
.header{
	grid-area: hd;
	background-color: #222629ff;
	color: white;
}
.navbar{
	grid-area: nv;
	background-color: #222629ff;
	color: white;

	
}
.content{
	grid-area: ct;
	background-color: #222629fa;
	max-width: 100%;
	word-wrap: break-word;
	color:#EEEEEE;
	font-size: 20px;
	padding: 20px;
}

.footer{
	grid-area: ft;
	background-color: #222629ff;
	color: white;
}
#logo{
	height:130px;
	float :left;
	padding: 2px 10px;
}

.navbar ul li a{
	color:#86c232ff ;
	text-decoration: none;
	border:2px solid;
	border-color: #86c232ff;
	margin:0px 5px;
	padding: 18px 30px;
	font-family: 'Roboto Mono' ;
	font-style: bold;
}
.navbar ul li a:hover{
	background-color: #86c232ff;
	color: rgba(255, 255, 255, 0.9);
}
.navbar ul li a:active
{
	padding: 24px 40px;

}
.navbar ul{

	padding-top:70px;
	padding-right: 40px;
	list-style-type: none;
	text-align: right;
}
.navlinkslist{
	display: inline;
	

}
.footer{
	text-align: center;
	padding-top: 5%;
}
.footer a{
	color:rgba(255, 255, 255, 0.8) ;
	text-decoration: none;
	font-family: 'Roboto Mono';
	font-style: bold;

}
.footer a:hover{
	color:rgba(255, 255, 255, 0.6) ;
}
@media screen and (max-width:650px) {
	.main{
		grid-template-rows:minmax(150px,auto) minmax(500px,auto) 200px;
	grid-template-areas: 
	"hd nv nv"
	"ct ct ct"
	"ft ft ft";
}
	#logo{
		display: none;
	}
	
	.navbar ul li a{
	padding:  8px 13px;
	}
	.navbar ul{
		text-align: center;

	}
	.navbar ul li a:active{

	padding: 11px 15px;

}

}
@media screen and (max-width:480px) {
	.main{
		grid-template-rows:minmax(150px,auto) minmax(500px,auto) 200px;
	grid-template-areas: 
	"nv nv nv"
	"ct ct ct"
	"ft ft ft";
}
	#logo{
		display: none;
	}
	
	.navbar ul li a{
	padding:  1px 2px;
	}
	.navbar ul{
		text-align: center;

	}
	.navbar ul li a:active{

	padding: 2px 3px;

}

}
