*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	
}


main{
	width: 98%;
	height:100%;
	margin:10px auto;
	display: grid;
	grid-template-rows:minmax(150px,auto) minmax(500px,auto) 200px;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 0px;
	
}
.header{
	grid-column: 1/2;
	background-color: #222629ff;
	color: white;
}
.navbar{
	background-color: #222629ff;
	grid-column: 2/4;
	color: white;

	
}
.content{
	background-color: #222629fa;
	grid-column: 1/4;
	color:#EEEEEE;
	font-size: 20px;
	padding: 20px;
}

.footer{
	background-color: #222629ff;
	grid-column: 1/-1;
	color: white;
}
img{
	height:130px;
	float :left;
	padding: 2px 10px;
}

a{
	color:#86c232ff ;
	text-decoration: none;
	border:2px solid;
	border-color: #86c232ff;
	margin:0px 5px;
	padding: 20px 40px;
	font-family: seri ;
	font-style: bold;
}
a:hover{
	background-color: #86c232ff;
	color: rgba(255, 255, 255, 0.9);
}
a:active
{
	padding: 18px 30px;

}
ul{
	padding:40px;
	list-style-type: none;
	text-align: right;
}
li{
	display: inline;
	

}
@media (max-width: 1370px) {
	
	.header{
		grid-column: 1/-1;
	}
	.navbar{
		grid-column: 1/-1;
	}
}